<div class="pop-up-wrapper">
    <h2>We will send you the guide as an e-mail</h2>
    <h3>Don't worry, we won't spam you, we are too busy for that :D</h3>
    <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else!</div>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1" value=true>Intrested in more wedding related topics?</label>
        </div>
        <button type="submit" class="button">Submit</button>
    </form>
    <svg (click)='dismiss($event)' class="quit-btn" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill=#edf2f4 d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"/></svg>
</div>