<div class="pop-up-wrapper">
  <h2>We will send you the guide as an e-mail</h2>
  <h3>Don't worry, we won't spam you, we are too busy for that :D</h3>
  <form (submit)="onSubmit($event)">
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        #email
        required
        type="email"
        class="form-control text-dark"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
        placeholder="john-doe@gmail.com"
        (keyup)="onChangeEmail(email.value)"
      />
      <div id="emailHelp" class="form-text">
        We'll never share your email with anyone else!
      </div>
    </div>
    <div class="mb-3 form-check">
      <input
        #checkbox
        type="checkbox"
        class="form-check-input"
        id="exampleCheck1"
        (change)="onChangeCheckbox(checkbox.checked)"
      />
      <label class="form-check-label" for="exampleCheck1" value="true"
        >Interested in more wedding related topics?</label
      >
    </div>
    <button type="submit" class="button">Submit</button>
    <div *ngIf="httpRequestStatus === HttpRequestStatus.SENT" class="ml-3 spinner-border text-light" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <p *ngIf="httpRequestStatus === HttpRequestStatus.SUCCESS">
        Hooray! Have a look in your inbox to see the guide.
    </p>
    <p *ngIf="httpRequestStatus === HttpRequestStatus.ERROR">
        Ooops! Something went wrong. Please try again later.
    </p>
  </form>
  <svg
    (click)="dismiss.emit()"
    class="quit-btn"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 24 24"
  >
    <path
      fill="#edf2f4"
      d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
    />
  </svg>
</div>
