.container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.info-box,
.info-icons,
.info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

svg {
  width: 7rem;
  margin-bottom: 2rem;
}

h3,
p {
  font-family: m-reg;
  text-align: center;
  color: #edf2f4;
}

h3 {
  font-size: 3.5rem;
  margin-bottom: 4rem;
}

p {
  font-size: 2rem;
  margin-bottom: 3rem;
}
