<div class="container">
    <div class="section-box">
        <img class="number" src="/assets/icons/1.png" alt="">
        <div class="text-box">
            <h3>What's in this guide</h3>
            <h4>We explain some core features on wix and how to use them for wedding websites</h4>
            <button class=button (click)='showNewSite(1)'>More information</button>
        </div>
    </div>
    <div class="section-box">
        <img class="number" src="/assets/icons/2.png" alt="">
        <div class="text-box">
            <h3>What is <span style="color: #4EB7F5; cursor: pointer;">WIX</span></h3>
            <h4>Wix.com is a website builder that you can use for free! It provides you with easy to use templates and designs.</h4>
            <button class="button">Check out WIX</button>
        </div>
    </div>
</div>
