
<div class="backdrop"></div>
<div class="container">
    <h1>How to create a wedding website</h1>

    <hr>

    <h2>Get a <span>free guide</span> on how to use wix to create an <span>inventive wedding-invitation</span></h2>
    <!-- <div class="iframe-wrapper">
      <iframe (event)='onVideoClicked()' src="https://www.youtube.com/embed/U_9zBzy-dlk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div> -->
    <button class="button" (click)=showPopup(true)>Get the guide</button>
    
</div>
<svg class="info-icon" placement="left"
[ngbPopover]=disclaimerText popoverTitle="Disclaimer" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill= #edf2f4 d="M12 2c5.514 0 10 4.486 10 10s-4.486 10-10 10-10-4.486-10-10 4.486-10 10-10zm0-2c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm-.001 5.75c.69 0 1.251.56 1.251 1.25s-.561 1.25-1.251 1.25-1.249-.56-1.249-1.25.559-1.25 1.249-1.25zm2.001 12.25h-4v-1c.484-.179 1-.201 1-.735v-4.467c0-.534-.516-.618-1-.797v-1h3v6.265c0 .535.517.558 1 .735v.999z"/></svg>
<app-pop-up *ngIf=shouldShowPopup class="animate__animated animate__fadeInDownBig container-lg" (onDismiss)=showPopup(false)></app-pop-up>
<img
  class="arrow-down animate__upDown"
  src="/assets/icons/arrow-down.svg"
  alt=""
/>
