/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "m-reg";
  src: url("/assets/fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "m-med";
  src: url("/assets/fonts/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "m-semi-bold";
  src: url("/assets/fonts/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "m-bold";
  src: url("/assets/fonts/Montserrat-Bold.ttf") format("truetype");
}

// XX-Large devices (larger desktops, 1400px and up)
@media (max-width: 1400px) {
  html,
  body {
    font-size: 75%;
  }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Medium devices (tablets, 768px and up)
@media (max-width: 768px) {
  html,
  body {
    font-size: 60%;
  }
}

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {
  html,
  body {
    font-size: 50%;
  }
}

button.button {
  font-family: m-bold;
  color: #edf2f4;
  margin-top: 1rem;
  width: 20rem;
  font-size: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #fe8383;
  transition: 200ms;
  outline: none;
}

* {
  outline: none !important;
}

button.button:hover {
  transform: translateY(-5%);
  background-color: #fe9e9e;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
